<a href="https://colab.research.google.com/github/assepwahid5/praktikum_1/blob/master/Week_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thislist = ["apple","banana","cherry","Grape"]
thislist[2] = "Orange"
print(thislist)
print(thislist[3])

['apple', 'banana', 'Orange', 'Grape']
Grape

In [ ]:
thislist = ["apple","banana","cherry","Grape","apple","banana","cherry","Grape"]
thislist.insert(2, "ayam")
thislist.append("rorojonggrang")
print(thislist[5])
print(thislist)
print(len(thislist))
print(len(thislist[0]))

apple
['apple', 'banana', 'ayam', 'cherry', 'Grape', 'apple', 'banana', 'cherry', 'Grape', 'rorojonggrang']
10
5

In [ ]:
list1 = ["assep","wahid","S1 Teknologi Informasi"]
list2 = [13,3,2005,7,6,3]
list3 = [True,False,True,True]
for x in list1 :
  print(x)
list1.remove("wahid")
list1.pop(0) # hapus item sesuai indeks pertama
list2.pop(int(input("masukan indeks berapa yang ingin dihapus = ")))
list3.pop()# hapus item terakhir
list1.extend(list3),list1.extend(list2)
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list1[2]))
print(type(list2[2]))
print(type(list3[2]))
print(list1)
print(list2)
print(list3)

assep
wahid
S1 Teknologi Informasi
masukan indeks berapa yang ingin dihapus = 5
<class 'list'>
<class 'list'>
<class 'list'>
<class 'bool'>
<class 'int'>
<class 'bool'>
['S1 Teknologi Informasi', True, False, True, 13, 3, 2005, 7, 6]
[13, 3, 2005, 7, 6]
[True, False, True]

In [ ]:
list1 = ["assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True]
list2 = [13,3,2005,7,6,3]
list3 = [True,False,True,True]
list1[7:10] = ["sumpal","sederhana",1]
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list1[9]))
print(type(list2[2]))
print(type(list3[2]))
print(list1)
print(list2)
print(list3)

<class 'list'>
<class 'list'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'bool'>
['assep', 13, 3, 2005, 7, 6, 3, 'sumpal', 'sederhana', 1, 'S1 Teknologi Informasi', True, True]
[13, 3, 2005, 7, 6, 3]
[True, False, True, True]

In [ ]:
list1 = list(("assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True))
list2 = list((13,3,2005,7,6,3))
list3 = list((True,False,True,True))
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list1[9]))
print(type(list2[2]))
print(type(list3[2]))
print(list1)
print(list2)
print(list3)
print(list1[5])
print(len(list1))
print(len(list1[0]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'bool'>
<class 'int'>
<class 'bool'>
['assep', 13, 3, 2005, 7, 6, 3, 'wahid', False, True, 'S1 Teknologi Informasi', True, True]
[13, 3, 2005, 7, 6, 3]
[True, False, True, True]
6
13
5

In [ ]:
list1 = list(("assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True))
list2 = list((13,3,2005,7,6,3))
list3 = list((True,False,True,True))
print(type(list1))
print(type(list2))
print(type(list3)) # meanmpilkan tipe dari variabel yang dipanggil
print(type(list1[9])) # menampilkan tipe data dari item yang dipanggil
print(type(list2[2]))
print(type(list3[2]))
print(list1)
print(list2)
print(list3)
print(list1[-5]) # minus disini untuk menampilkan item terakhir misalnya -1 berati merujuk pada item terakhir -8 berarti merujuk pada item delapan terakhir
print(list1[-2])
print(list1[-1])
print(list1[-8])
print(len(list1))
print(len(list1[0]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'bool'>
<class 'int'>
<class 'bool'>
['assep', 13, 3, 2005, 7, 6, 3, 'wahid', False, True, 'S1 Teknologi Informasi', True, True]
[13, 3, 2005, 7, 6, 3]
[True, False, True, True]
False
True
True
6
13
5

In [ ]:
list1 = list(("assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True))
list2 = list((13,3,2005,7,6,3))
list3 = list((True,False,True,True))
if "damar" in list1:
  print("yes")
else:
  print("no")
print(type(list1))
print(type(list2))
print(type(list3)) # meanmpilkan tipe dari variabel yang dipanggil
print(type(list1[9])) # menampilkan tipe data dari item yang dipanggil
print(type(list2[2]))
print(type(list3[2]))
print(list1[-11:4]) # menampilkan rentang dari item terakhir kesebelas sampai item  keempat namun item  keempat tidak termasuk jadi yang akan ditampilkan hanya sampai item ketiga
print(list1[-10:-2])
print(list1[-11:-4]) # menampilkan rentang dari item terakhir kesebelas sampai item terakhir keempat namun item terakhir keempat tidak termasuk jadi yang akan ditampilkan hanya sampai item terakhir kelima
print(list1[3:10])
print(list1[3:11])
print(list1[:5])
print(list1[5:])
print(list2)
print(list3)
print(list1[-5]) # minus disini untuk menampilkan item terakhir misalnya -1 berati merujuk pada item terakhir -8 berarti merujuk pada item delapan terakhir
print(list1[-2])
print(list1[-1])
print(list1[-8])
print(len(list1))
print(len(list1[0]))

no
<class 'list'>
<class 'list'>
<class 'list'>
<class 'bool'>
<class 'int'>
<class 'bool'>
[3, 2005]
[2005, 7, 6, 3, 'wahid', False, True, 'S1 Teknologi Informasi']
[3, 2005, 7, 6, 3, 'wahid', False]
[2005, 7, 6, 3, 'wahid', False, True]
[2005, 7, 6, 3, 'wahid', False, True, 'S1 Teknologi Informasi']
['assep', 13, 3, 2005, 7]
[6, 3, 'wahid', False, True, 'S1 Teknologi Informasi', True, True]
[13, 3, 2005, 7, 6, 3]
[True, False, True, True]
False
True
True
6
13
5

In [ ]:
list1 = list(("assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True))
for i in range(len(list1)):
  print(list1[i])
for i in range(2):
  print(list1[i])
list1.clear()
print(list1)

assep
13
[]