<a href="https://colab.research.google.com/github/assepwahid5/praktikum_1/blob/master/week_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# integer

11
type(112)
123

123

In [ ]:

# float
100.90
type (111100.101)

import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# string
"berikut merupakan tipe data string"
type("ini data string")

str

In [ ]:

y = (3*8)*24 / 25
y

23.04

In [ ]:

y = 3**8
y

6561

In [ ]:
x = 99//3
x

33

In [ ]:
c= 100 -- 120
c

220

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang = ",+ panjang)
print("Lebar = " ,+ lebar)
print("Tinggi =", + tinggi)
print("Keliling =" ,+ keliling)
print("Volume =" ,+ volume)
print("luas = ", + luas)

Panjang =  20.5
Lebar =  25
Tinggi = 10
Keliling = 91.0
Volume = 5125.0
luas =  512.5

In [ ]:
# data mahasiswa
data = {
    "Shafira": {"Kalkulus 1": 85, "Metode Statistika": 75},
    "Amanda": {"Kalkulus 1": 80, "Metode Statistika": 90},
    "Aditya": {"Kalkulus 1": 75, "Metode Statistika": 80},
    "Nedia": {"Kalkulus 1": 95, "Metode Statistika": 80},
    "Widya": {"Kalkulus 1": 85, "Metode Statistika": 85},
    "Hanif": {"Kalkulus 1": 75, "Metode Statistika": 90},
    "Andi": {"Kalkulus 1": 70, "Metode Statistika": 75},
    "Dhanar": {"Kalkulus 1": 85, "Metode Statistika": 85},
    "Hikma": {"Kalkulus 1": 80, "Metode Statistika": 75}
}

rata_rata_shafira =  (data ["Shafira"]["Kalkulus 1"] + data["Shafira"]["Metode Statistika"])/2
print ("1. Rata-rata nilai Shafira pada kedua mata kuliah adalah", + rata_rata_shafira)

jumlah_nilai_hanif_dan_andi = (data ["Hanif"]["Kalkulus 1"] + data ['Hanif']["Metode Statistika"] + data["Andi"]["Kalkulus 1"]+data['Andi']["Metode Statistika"])
print ("2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah adalah", + jumlah_nilai_hanif_dan_andi)

rata_rata_kalkulus_WDHN = (data ['Widya']["Kalkulus 1"] + data ["Dhanar"]["Kalkulus 1"] + data ["Hikma"]["Kalkulus 1"]+data["Nedia"]["Kalkulus 1"])/4
print ("3. A. Rata-rata nilai Widya,Dhanar,Hikma dan Nedia dalam Kalkulus 1 adalah",+ rata_rata_kalkulus_WDHN)

rata_rata_MetodeStatistika_WDHN = (data ["Widya"]["Metode Statistika"] + data ["Dhanar"]["Metode Statistika"] + data["Hikma"]["Metode Statistika"]+data ["Nedia"]["Metode Statistika"])/4
print ("   B. Rata-rata nilai Widya,Dhanar,Hikma, dan Nedia dalam Metode Statistika",+ rata_rata_MetodeStatistika_WDHN)

rata_semuamh_kalks1 = (data ["Aditya"]["Kalkulus 1"]+data['Amanda']["Kalkulus 1"]+data["Andi"]["Kalkulus 1"]+data["Dhanar"]["Kalkulus 1"]+data["Hanif"]["Kalkulus 1"]
                       +data["Hikma"]["Kalkulus 1"]+data["Nedia"]["Kalkulus 1"]+data["Shafira"]["Kalkulus 1"]+data["Widya"]["Kalkulus 1"])/9
print ("4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa =",+ rata_semuamh_kalks1 )

rata_semuamh_Statistika = (data["Aditya"]["Metode Statistika"]+data["Amanda"]["Metode Statistika"]+data["Andi"]["Metode Statistika"]+data["Dhanar"]["Metode Statistika"]+data["Hanif"]["Metode Statistika"]+data["Nedia"]["Metode Statistika"]
                           +data["Shafira"]["Metode Statistika"]+data["Widya"]["Metode Statistika"]+data["Hikma"]["Metode Statistika"])/9
print ("5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa =",+ rata_semuamh_Statistika)

1. Rata-rata nilai Shafira pada kedua mata kuliah adalah 80.0
2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah adalah 310
3. A. Rata-rata nilai Widya,Dhanar,Hikma dan Nedia dalam Kalkulus 1 adalah 86.25
   B. Rata-rata nilai Widya,Dhanar,Hikma, dan Nedia dalam Metode Statistika 81.25
4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa = 81.11111111111111
5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa = 81.66666666666667

In [ ]:
beban_sehari = 8  # beban kerja 8 jam sehari
beban_bulan = 22 # saya asumsikan bahwa selama 1 bulan dia bekerja 22 hari
lama_bekerjatahun = 10 # lama bekerja selama 10 tahun
tunjangan_5tahun = 0.1 # tunjangan bagi karyawan lebih 5 tahun
gaji_jam = 30000 # gaji per jam
lembur_perjam = 10000 # gaji lembur per jam
lmbr = 5 # lembur 5 jam

gj_agustus_minus3hr = beban_sehari * gaji_jam * beban_bulan - ((3 * beban_sehari )* gaji_jam)
print ("1. gaji bulan agustus jika Dwi tidak masuk kerja 3 hari adalah ",+ gj_agustus_minus3hr)

tj_diterimadwi = (beban_sehari * gaji_jam * beban_bulan )* tunjangan_5tahun
print ("2. tunjangan yang diterima Dwi adalah",+ tj_diterimadwi)

ttl_gjdanlmbr = (beban_sehari * gaji_jam * beban_bulan) + (lmbr * lembur_perjam)
print ("3. total gaji dan lembur yang diterima Dwi adalah",+ ttl_gjdanlmbr )

1. gaji bulan agustus jika Dwi tidak masuk kerja 3 hari adalah  4560000
2. tunjangan yang diterima Dwi adalah 528000.0
3. total gaji dan lembur yang diterima Dwi adalah 5330000