<a href="https://colab.research.google.com/github/assepwahid5/praktikum_1/blob/master/Week_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thislist = ["apple","banana","cherry","Grape"]
thislist[2] = "Orange"
print(thislist)
print(thislist[3])

['apple', 'banana', 'Orange', 'Grape']
Grape

In [ ]:
thislist = ["apple","banana","cherry","Grape","apple","banana","cherry","Grape"]
thislist.insert(2, "ayam")
thislist.append("rorojonggrang")
print(thislist[5])
print(thislist)
print(len(thislist))
print(len(thislist[0]))

apple
['apple', 'banana', 'ayam', 'cherry', 'Grape', 'apple', 'banana', 'cherry', 'Grape', 'rorojonggrang']
10
5

In [ ]:
list1 = ["assep","wahid","S1 Teknologi Informasi"]
list2 = [13,3,2005,7,6,3]
list3 = [True,False,True,True]
for x in list1 :
  print(x)
list1.remove("wahid")
list1.pop(0) # hapus item sesuai indeks pertama
list2.pop(int(input("masukan indeks berapa yang ingin dihapus = ")))
list3.pop()# hapus item terakhir
list1.extend(list3),list1.extend(list2)
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list1[2]))
print(type(list2[2]))
print(type(list3[2]))
print(list1)
print(list2)
print(list3)

assep
wahid
S1 Teknologi Informasi
masukan indeks berapa yang ingin dihapus = 5
<class 'list'>
<class 'list'>
<class 'list'>
<class 'bool'>
<class 'int'>
<class 'bool'>
['S1 Teknologi Informasi', True, False, True, 13, 3, 2005, 7, 6]
[13, 3, 2005, 7, 6]
[True, False, True]

In [ ]:
list1 = ["assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True]
list2 = [13,3,2005,7,6,3]
list3 = [True,False,True,True]
list1[7:10] = ["sumpal","sederhana",1]
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list1[9]))
print(type(list2[2]))
print(type(list3[2]))
print(list1)
print(list2)
print(list3)

<class 'list'>
<class 'list'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'bool'>
['assep', 13, 3, 2005, 7, 6, 3, 'sumpal', 'sederhana', 1, 'S1 Teknologi Informasi', True, True]
[13, 3, 2005, 7, 6, 3]
[True, False, True, True]

In [ ]:
# Membuat list berisi nama teman sekelas
teman_sekelas = ["agus", "salman", "Andi", "Rina"]

# Menambahkan nama baru ke dalam list
teman_sekelas.append("Dewi")
print("Setelah menambah Dewi:", teman_sekelas)

# Mengganti nama teman di indeks 1
teman_sekelas[1] = "Ahmad"
print("Setelah mengganti Salman menjadi Ahmad:", teman_sekelas)

# Menghapus nama teman
teman_sekelas.remove("Andi")
print("Setelah menghapus Andi:", teman_sekelas)

# Mengakses elemen tertentu
print("Teman pertama:", teman_sekelas[0])

Setelah menambah Dewi: ['agus', 'salman', 'Andi', 'Rina', 'Dewi']
Setelah mengganti Salman menjadi Ahmad: ['agus', 'Ahmad', 'Andi', 'Rina', 'Dewi']
Setelah menghapus Andi: ['agus', 'Ahmad', 'Rina', 'Dewi']
Teman pertama: agus

In [ ]:
# Membuat tuple berisi koordinat
koordinat = (10.5, 20.3)

# Mengakses elemen di dalam tuple
print("Koordinat X:", koordinat[0])
print("Koordinat Y:", koordinat[1])

# Tuple tidak bisa diubah, jadi kode berikut akan error jika dijalankan
# koordinat[0] = 15.0  # Error!

Koordinat X: 10.5
Koordinat Y: 20.3

In [ ]:
list1 = list(("assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True))
list2 = list((13,3,2005,7,6,3))
list3 = list((True,False,True,True))
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list1[9]))
print(type(list2[2]))
print(type(list3[2]))
print(list1)
print(list2)
print(list3)
print(list1[5])
print(len(list1))
print(len(list1[0]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'bool'>
<class 'int'>
<class 'bool'>
['assep', 13, 3, 2005, 7, 6, 3, 'wahid', False, True, 'S1 Teknologi Informasi', True, True]
[13, 3, 2005, 7, 6, 3]
[True, False, True, True]
6
13
5

In [ ]:
# Membuat set berisi mata pelajaran favorit
pelajaran_favorit = {"Matematika", "Fisika", "Biologi"}

# Menambahkan elemen ke set
pelajaran_favorit.add("Kimia")
print("Setelah menambah Kimia:", pelajaran_favorit)

# Menambahkan elemen yang sama (tidak akan ditambahkan karena duplikat)
pelajaran_favorit.add("Fisika")
print("Setelah mencoba menambah Fisika lagi:", pelajaran_favorit)

# Menghapus elemen dari set
pelajaran_favorit.remove("Biologi")
print("Setelah menghapus Biologi:", pelajaran_favorit)

Setelah menambah Kimia: {'Kimia', 'Matematika', 'Biologi', 'Fisika'}
Setelah mencoba menambah Fisika lagi: {'Kimia', 'Matematika', 'Biologi', 'Fisika'}
Setelah menghapus Biologi: {'Kimia', 'Matematika', 'Fisika'}

In [ ]:
list1 = list(("assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True))
list2 = list((13,3,2005,7,6,3))
list3 = list((True,False,True,True))
print(type(list1))
print(type(list2))
print(type(list3)) # meanmpilkan tipe dari variabel yang dipanggil
print(type(list1[9])) # menampilkan tipe data dari item yang dipanggil
print(type(list2[2]))
print(type(list3[2]))
print(list1)
print(list2)
print(list3)
print(list1[-5]) # minus disini untuk menampilkan item terakhir misalnya -1 berati merujuk pada item terakhir -8 berarti merujuk pada item delapan terakhir
print(list1[-2])
print(list1[-1])
print(list1[-8])
print(len(list1))
print(len(list1[0]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'bool'>
<class 'int'>
<class 'bool'>
['assep', 13, 3, 2005, 7, 6, 3, 'wahid', False, True, 'S1 Teknologi Informasi', True, True]
[13, 3, 2005, 7, 6, 3]
[True, False, True, True]
False
True
True
6
13
5

In [ ]:
# Membuat dictionary berisi nomor telepon teman
kontak_teman = {
    "Budi": "081234567890",
    "Siti": "082345678901",
    "Andi": "083456789012"
}

# Mengakses nomor telepon berdasarkan nama
print("Nomor telepon Budi:", kontak_teman["Budi"])

# Menambahkan data baru
kontak_teman["Dewi"] = "084567890123"
print("Setelah menambah Dewi:", kontak_teman)

# Mengubah nomor telepon
kontak_teman["Siti"] = "089876543210"
print("Setelah mengganti nomor Siti:", kontak_teman)

# Menghapus data
del kontak_teman["Andi"]
print("Setelah menghapus Andi:", kontak_teman)

Nomor telepon Budi: 081234567890
Setelah menambah Dewi: {'Budi': '081234567890', 'Siti': '082345678901', 'Andi': '083456789012', 'Dewi': '084567890123'}
Setelah mengganti nomor Siti: {'Budi': '081234567890', 'Siti': '089876543210', 'Andi': '083456789012', 'Dewi': '084567890123'}
Setelah menghapus Andi: {'Budi': '081234567890', 'Siti': '089876543210', 'Dewi': '084567890123'}

In [ ]:
list1 = list(("assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True))
list2 = list((13,3,2005,7,6,3))
list3 = list((True,False,True,True))
if "damar" in list1:
  print("yes")
else:
  print("no")
print(type(list1))
print(type(list2))
print(type(list3)) # meanmpilkan tipe dari variabel yang dipanggil
print(type(list1[9])) # menampilkan tipe data dari item yang dipanggil
print(type(list2[2]))
print(type(list3[2]))
print(list1[-11:4]) # menampilkan rentang dari item terakhir kesebelas sampai item  keempat namun item  keempat tidak termasuk jadi yang akan ditampilkan hanya sampai item ketiga
print(list1[-10:-2])
print(list1[-11:-4]) # menampilkan rentang dari item terakhir kesebelas sampai item terakhir keempat namun item terakhir keempat tidak termasuk jadi yang akan ditampilkan hanya sampai item terakhir kelima
print(list1[3:10])
print(list1[3:11])
print(list1[:5])
print(list1[5:])
print(list2)
print(list3)
print(list1[-5]) # minus disini untuk menampilkan item terakhir misalnya -1 berati merujuk pada item terakhir -8 berarti merujuk pada item delapan terakhir
print(list1[-2])
print(list1[-1])
print(list1[-8])
print(len(list1))
print(len(list1[0]))

no
<class 'list'>
<class 'list'>
<class 'list'>
<class 'bool'>
<class 'int'>
<class 'bool'>
[3, 2005]
[2005, 7, 6, 3, 'wahid', False, True, 'S1 Teknologi Informasi']
[3, 2005, 7, 6, 3, 'wahid', False]
[2005, 7, 6, 3, 'wahid', False, True]
[2005, 7, 6, 3, 'wahid', False, True, 'S1 Teknologi Informasi']
['assep', 13, 3, 2005, 7]
[6, 3, 'wahid', False, True, 'S1 Teknologi Informasi', True, True]
[13, 3, 2005, 7, 6, 3]
[True, False, True, True]
False
True
True
6
13
5

In [ ]:
list1 = list(("assep",13,3,2005,7,6,3,"wahid",False,True,"S1 Teknologi Informasi",True,True))
for i in range(len(list1)):
  print(list1[i])
for i in range(2):
  print(list1[i])
list1.clear()
print(list1)

assep
13
[]

In [1]:
# Pertama, kita buat sebuah dictionary untuk menyimpan data mahasiswa.
data_mahasiswa = {
    "Nama": "Assep Wahid",    # Menyimpan nama mahasiswa
    "Kelas": "Rombel1-TIF",        # Menyimpan kelas mahasiswa
    "Tanggal Lahir": "10 Oktober 2004",    # Menyimpan tanggal lahir
    "No HP": "081234567890",    # Menyimpan nomor HP
    "Alamat": "Jl. Mawar No.10, Jakarta",  # Menyimpan alamat
    "Hobi": ["Bermain game", "Membaca buku", "membaca komik"]  # Menyimpan daftar hobi
}

# Sekarang, kita akan menampilkan semua data mahasiswa tersebut.
print("=== Data Mahasiswa ===")

# Menggunakan perulangan untuk menampilkan setiap item dari dictionary
for kunci, nilai in data_mahasiswa.items():

    # Cek apakah nilai berupa list (digunakan untuk data hobi)
    if isinstance(nilai, list):
        print(f"{kunci}:")
        # Perulangan lagi untuk setiap hobi yang ada di dalam list
        for index, hobi in enumerate(nilai, start=1):
            print(f"  {index}. {hobi}")
    else:
        # Jika bukan list, langsung cetak nilainya
        print(f"{kunci}: {nilai}")

=== Data Mahasiswa ===
Nama: Assep Wahid
Kelas: Rombel1-TIF
Tanggal Lahir: 10 Oktober 2004
No HP: 081234567890
Alamat: Jl. Mawar No.10, Jakarta
Hobi:
  1. Bermain game
  2. Membaca buku
  3. membaca komik